@model PersonModel

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<h2>Edit Person information</h2>

<form asp-controller="Student" asp-action="Edit">
    <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control"/>
                <span asp-validation-for="Id" class="text-danger"></span>
     <div class="form-group">
        <label>First name:</label>
        <input class="form-control" placeholder="Enter firstname" id="txtFirstName" asp-for="FirstName"/>
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label>Last name:</label>
        <input class="form-control" placeholder="Enter Lastname" id="txtFirstName" asp-for="LastName"/>
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label>Gender:</label>
        <select asp-for="Gender"
                asp-items="Html.GetEnumSelectList<Gender>()">
        </select>
    </div>
    <div class="form-group">
        <label>Date of Birth:</label>
        <input class="form-control" placeholder="Enter birthday" id="txtLastname" asp-for="DateOfBirth"/>
        <span asp-validation-for="DateOfBirth"></span>
    </div>
    <div class="form-group">
        <label>BirthPlace:</label>
        <input class="form-control" placeholder="Enter place" id="txtLastname" asp-for="BirthPlace"/>
        <span asp-validation-for="BirthPlace"></span>
    </div>
    <div class="form-group">
        <label>Phone number:</label>
        <input class="form-control" placeholder="Enter lastname" id="txtLastname" asp-for="PhoneNumber"/>
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-group">
        <label>Graduated:</label>
        <input asp-for="IsGraduated"/>
    </div>
    <button type="submit" class="btn btn-primary">Save Person</button>
</form>

