@model Assignment7.Models.PersonModel
@{
    ViewData["title"] ="Add new person";

}
<
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<h2>New Person information</h2>

<form asp-controller="Student" asp-action="Add">
<div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
   <div class="form-group">
        <label>First name:</label>
        <input class="form-control" placeholder="Enter firstname" id="firstname" asp-for="FirstName"/>
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label>First name:</label>
        <input class="form-control" placeholder="Enter lastname" id="lastname" asp-for="LastName"/>
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label>Gender:</label>
        <select asp-for="Gender"
                asp-items="Html.GetEnumSelectList<Gender>()" id="gender">
        </select>
    </div>
    <div class="form-group">
        <label>Date of Birth:</label>
        <input class="form-control" placeholder="Enter birthday" id="birth" asp-for="DateOfBirth"/>
        <span asp-validation-for="DateOfBirth"></span>
    </div>
    <div class="form-group">
        <label>BirthPlace:</label>
        <input class="form-control" placeholder="Enter place" id="place" asp-for="BirthPlace"/>
        <span asp-validation-for="BirthPlace"></span>
    </div>
    <div class="form-group">
        <label>Phone number:</label>
        <input class="form-control" placeholder="Enter phone" id="phone" asp-for="PhoneNumber"/>
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-group">
        <label>Graduated:</label>
        <input asp-for="IsGraduated" id="graduated"/>
    </div>
    <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
</form>
